{% extends 'core/base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
    {% if cart_items %}
        <div class="flex justify-center">
            <div class="w-full lg:w-2/3">
                <table class="min-w-full">
                    <thead>
                        <tr>
                            <th class="px-4 py-2">Product</th>
                            <th class="px-4 py-2">Quantity</th>
                            <th class="px-4 py-2">Price per Item</th>
                            <th class="px-4 py-2">Total Price</th>
                            <th class="px-4 py-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr>
                            <td class="px-4 py-2">
                                <div class="flex items-center">
                                    <img src="{{ item.image.url }}" alt="{{ item.name }}" class="h-10 w-10 mr-2">
                                    <span>{{ item.product }}</span>
                                </div>
                            </td>
                            <td class="px-4 py-2">{{ item.quantity }}</td>
                            <td class="px-4 py-2">{{ item.price }}</td>
                            <td class="number">{{ item.subtotal }}</td>
                            <td class="px-4 py-2"><a href="{% url 'cart:remove_from_cart' item.id %}" class="text-red-500 hover:text-red-700">Remove</a></td>
                        </tr> 
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3"></td>
                            <td class="px-4 py-2 font-bold">Total:</td>
                            <td class="px-4 py-2 font-bold">{{ total_price|floatformat:2 }}</td>
                        </tr>
                    </tfoot>
                </table>

                <a href="{% url 'cart:checkout' %}" class="block w-full max-w-xs mx-auto mt-4 py-2 px-4 bg-blue-500 text-white text-center rounded hover:bg-blue-700">Checkout</a>
            </div>
        </div>
    {% else %}
        <p class="text-center mt-8">Your shopping cart is empty.</p>
    {% endif %}
{% endblock %}